
.card-img-top {
  height: 10em;
  width: 10em;
  opacity: 0.6;
  padding: 1em;
}

#technologiesPage {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 10em;
}

// .card {
//   display: inline-flex;
//   justify-content: center;
//   width: 20em;
//   height: 25em;
//   -webkit-box-shadow: 10px 10px 5px 0px rgba(41,203,209,0.12);
//     -moz-box-shadow: 10px 10px 5px 0px rgba(41,203,209,0.12);
//     box-shadow: 10px 10px 5px 0px rgba(41,203,209,0.12);
// }