
.card-img-top {
  display: flex;
  justify-content: center;
  height: 10em;
  width: 100%;
}

.theCard {
  display: inline-flex;
  justify-content: center;
  width: 20em;
  height: 25em;
  padding: 1em;
  border-style: solid;
  border-color:rgb(31, 202, 202);
}