@import "~bootstrap/scss/bootstrap";

.pageTitle {
    color: black;
    font-family: 'Abril Fatface', cursive;
    border-style: solid;
    background-color: white;
}

.brand {
    height: 8em;
    width: 8em;
}

.hide {
    display: none!important;
}

main {
    color: white;
}


.contactButton {
    margin-left: 32em;
}


.navbar-nav {
    margin-left: 25em;
}

li a {
    color: black;
    text-decoration: none;
}

body {
    background-image: url(https://images.squarespace-cdn.com/content/v1/581cb131be6594d1fe22a557/1492635385718-PJBXYT9M6F2FTWK7RXHC/ke17ZwdGBToddI8pDm48kMOUT_poN4wOaYJ2_Th3KJhZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIvSUXxUPLdSTs9jgEDdd5DZDFbXuO8h6SHXbHfEEorPYKMshLAGzx4R3EDFOm1kBS/301_CARIBBEAN_SEA%28Hi_Res%29.jpg);
    background-repeat: none;
    background-size: 100%;
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 75px;
    color: rgb(31, 202, 202);
    // mix-blend-mode: screen;
    padding-top: 3em;
    margin: 0;
    line-height: 0.5;
    opacity: 0.5;
  }

  h1 {
    color: rgb(31, 202, 202);;
  }

  h1 {
    text-shadow: 0px 8px 3px rgba(0,0,0,0.1),
                 5px 10px 3px rgba(0,0,0,0.05),
                 -5px 10px 3px rgba(0,0,0,0.05);
  }

  .homepageButtons {
      display: flex;
      justify-content: center;
      padding: 10em;
  }

#media-pic {
    height: 15em;
    width: 15em;
}

a:hover {
    color: rgb(31, 202, 202);
    text-decoration: none !important;
}

.list-unstyled {
    background-color: rgb(255, 255, 255);
}

#technologiesPage {
    margin: 5em;
    margin-left: 6em;
}

.bioBody {
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px 10px 10px 10px;
}

#bioPage {
    border-style: solid;
    /* background-color: rgb(196, 188, 188); */
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    color: black;
    font-weight: bold;
   
}

.bioTitle {
    font-family: 'Abril Fatface', cursive;
}

.bioImage {
    padding-right: 75px;
}

#projectsPage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.page-footer {
   font-size: 50px;
}

.techStyle {
    font-size: 25px;
}

.projectsCard {
    border-style: solid;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;

}
