@import "~bootstrap/scss/bootstrap";

.pageTitle {
    color: black;
    font-family: 'Abril Fatface', cursive;
    border-style: solid;
    background-color: white;
}

.hide {
    display: none!important;
}

.heading {
    background-image: url(https://media.iceportal.com/59073/photos/63422366_XXL.jpg);
    background-repeat: none;
    background-size: stretch;
    height: 350px;
    margin: 0px;
}

.navbar {
    -webkit-box-shadow: 10px 13px 67px -6px rgba(48,50,69,1);
    -moz-box-shadow: 10px 13px 67px -6px rgba(48,50,69,1);
    box-shadow: 10px 13px 67px -6px rgba(48,50,69,1);
}

body {
    background-image: url(https://i.pinimg.com/originals/7f/22/bd/7f22bd1107b49b5eac20ce21b80d6489.jpg);
}

#technologiesPage {
    display: flex;
    justify-content: center;
    border-style: solid;
    background-color: white;
    margin-top: 20px;
}

#media-pic {
    height: 15em;
    width: 15em;
}

.list-unstyled {
    background-color: rgb(255, 255, 255);
}

.bioBody {
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px 10px 10px 10px;
}

#bioPage {
    border-style: solid;
    /* background-color: rgb(196, 188, 188); */
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    color: black;
    font-weight: bold;
   
}

.bioTitle {
    font-family: 'Abril Fatface', cursive;
}

.bioImage {
    padding-right: 75px;
}

#projectsPage {
    display: flex;
    justify-content: center;
    border-style: solid;
    background-color: rgb(196, 188, 188);
    margin-top: 20px;
}

.page-footer {
   font-size: 50px;
}

.techStyle {
    font-size: 25px;
}

.projectsCard {
    border-style: solid;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;

}
