.pageTitle {
    color: black;
    font-family: 'Abril Fatface', cursive;
    border-style: solid;
    background-color: white;
}

.heading {
    background-image: url(https://media.iceportal.com/59073/photos/63422366_XXL.jpg);
    background-repeat: none;
    background-size: stretch;
    height: 350px;
    margin: 0px;
}
/* 
#navLinks {
    display: flex;
    justify-content: space-between;
    word-spacing: 10px;
} */

.bioButton {
    background-color: white;

}

.techButton {
    background-color: white;
}

.projButton {
    background-color: white;
}

#technologiesPage {
    display: flex;
    justify-content: center;
    border-style: solid;
    background-color: rgb(196, 188, 188);
    margin-top: 20px;
}
body {
    background-color: rgb(95, 86, 86);
}

.bioBody {
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px 10px 10px 10px;
}

#bioPage {
    border-style: solid;
    /* background-color: rgb(196, 188, 188); */
    background-image: url("https://i.stack.imgur.com/7YKUD.jpg");
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    color: black;
    font-weight: bold;
   
}

.bioTitle {
    font-family: 'Abril Fatface', cursive;
}

.bioImage {
    padding-right: 75px;
}

#projectsPage {
    display: flex;
    justify-content: center;
    border-style: solid;
    background-color: rgb(196, 188, 188);
    margin-top: 20px;
}

.page-footer {
   font-size: 50px;
}

.techStyle {
    font-size: 25px;
}

.projectsCard {
    border-style: solid;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;

}
