@import "~bootstrap/scss/bootstrap";

.pageTitle {
    color: black;
    font-family: 'Abril Fatface', cursive;
    border-style: solid;
    background-color: white;
}

.brand {
    height: 8em;
    width: 8em;
}

.hide {
    display: none!important;
}

main {
    color: white;
}


.contactButton {
    margin-left: 32em;
    color: rgb(31, 202, 202);
}

.navbar {
    display: flex;
    justify-content: center;
}


.navbar-nav {
    margin-left: 37em;
}

li a {
    color: black;
    text-decoration: none;
}

body {
    background-image: url(https://images.squarespace-cdn.com/content/v1/581cb131be6594d1fe22a557/1492635385718-PJBXYT9M6F2FTWK7RXHC/ke17ZwdGBToddI8pDm48kMOUT_poN4wOaYJ2_Th3KJhZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIvSUXxUPLdSTs9jgEDdd5DZDFbXuO8h6SHXbHfEEorPYKMshLAGzx4R3EDFOm1kBS/301_CARIBBEAN_SEA%28Hi_Res%29.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: fixed;
}

  .homepageButtons {
      display: flex;
      justify-content: center;
      padding: 3em;
      color: white;
  }

#media-pic {
    height: 15em;
    width: 15em;
}

a:hover {
    color: rgb(31, 202, 202);
    text-decoration: none !important;
}

.list-unstyled {
    background-color: rgb(255, 255, 255);
}

.bioBody {
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px 10px 10px 10px;
}

// #bioPage {
//     // border-style: solid;
//     /* background-color: rgb(196, 188, 188); */
//     padding-top: 50px;
//     padding-bottom: 50px;
//     padding-right: 50px;
//     padding-left: 50px;
//     color: black;
//     font-weight: bold;
// }

#bioTitle {
    font-family: 'Abril Fatface', cursive;
    color: rgb(31, 202, 202);
}

#bioImage {
    height: 30em;
    width: 30em;
}

#projectsPage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.contactFooter {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60px;
    padding: 15 15 15 15px;
    position: absolute;
    bottom: 0;
    overflow:hidden;
    clear: both;
}

#contactIcons {
    display: inline-flex;
    justify-content: center;
    font-size: 3em;
    color: rgb(31, 202, 202);
    opacity: 0.5;
}

.techStyle {
    font-size: 25px;
}

.projectsCard {
    border-style: solid;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;

}

// homepage sections
  
  .contain, .contain1, .contain2 {
    padding-top: 16em;
    overflow: hidden;
    margin: 0 auto 50px;
    text-align:center;
    color: rgb(31, 202, 202);
    text-shadow: 0px 8px 3px rgba(0,0,0,0.1),
                 5px 10px 3px rgba(0,0,0,0.05),
                 -5px 10px 3px rgba(0,0,0,0.05);
  }
  
  .fancy-title {
    margin: 0 0 1em 0;
    letter-spacing:.2em;
    position:relative;
    overflow:hidden;
    text-transform: uppercase;
    font-size: 25em;
  }
  
  #line { overflow:hidden; height:auto;}
  
  p.norm {
   letter-spacing:.2em;
    font-size:15px;
  margin: 10px 0;
    text-transform:uppercase;
    font-size: 40px;
  }
  
  .bold {
   font-weight:700;
    font-size:18px !important;
    text-transform:uppercase;
    font-size: 25em;
  }
  
  .fancy-line {
    line-height: 1;
    text-align: center;
    margin:auto;
  }
  .fancy-line span {
    display: inline-block;
    position: relative; 
    font-size:15px;
  }
  
  .bold span {
  font-size:38px !important; 
  }
  
  .fancy-line span:before,
  .fancy-line span:after {
    content: "";
    position: absolute;
    height: 15px;
    border-top: .07em solid #003263;
    top: 7px;
    width: 600px;
  }
  .fancy-line span:before {
    right: 100%;
    margin-right: 20px;
  }
  .fancy-line span:after {
    left: 100%;
    margin-left: 20px;
  }
  

 .transbox {
    margin: 10em;
    background-color: #ffffff;
    border: 1px solid rgba(41,203,209,0.12);
    opacity: 0.9;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(41,203,209,0.12);
    -moz-box-shadow: 10px 10px 5px 0px rgba(41,203,209,0.12);
    box-shadow: 10px 10px 5px 0px rgba(41,203,209,0.12);
  }
  
  .transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }
