#projCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  border-style: solid;
  background-color: white;
  border-color: #00A1F1;
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -2px -15px 7px -5px rgba(0,161,241,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -2px -15px 7px -5px rgba(0,161,241,0);
}

#projImage {
  height: 20em;
  width: 20em;
}

#projTitle {
  display: flex;
  justify-content: flex-start;
  margin-top: 2em;
  margin-left: 1em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  color: black;
  opacity: 0.6;
  // text-shadow:
	// 	-1px -1px 0 rgb(31, 202, 202),
	// 	1px -1px 0 rgb(31, 202, 202),
	// 	-1px 1px 0 rgb(31, 202, 202),
	// 	1px 1px 0 rgb(31, 202, 202);
}

hr {
  border-style: inset;
  border-width: 0.5em;
  color: rgb(31, 202, 202);
}

#cardTitle {
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.cardInfo {
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}

#demoButton {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 5px;
  margin: .5em;
  border: 4px solid #00A1F1 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -2px -15px 7px -5px rgba(0,161,241,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -2px -15px 7px -5px rgba(0,161,241,0);
}

#demoButton:hover {
  color: #ffffff !important;
  background: #00A1F1;
  border-color: #ffffff !important;
  transition: all 0.4s ease 0s;
}

#gitButton {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 5px;
  margin: .5em;
  border: 4px solid #00A1F1 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -2px -15px 7px -5px rgba(0,161,241,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -2px -15px 7px -5px rgba(0,161,241,0);
}

#gitButton:hover {
  color: #ffffff !important;
  background: #00A1F1;
  border-color: #ffffff !important;
  transition: all 0.4s ease 0s;
}

#techNames {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
}

#footer {
  padding-left: 1em;
}

#projButtons {
  margin: 1em;
}